@import "tailwindcss";
@plugin "daisyui" {
   themes: black --default;
 }

 @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}